<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IReshService">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IReshService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IReshService">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://ws-web.test.nhn.no/v1/RESH" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IReshService" contract="ReshService.IReshService"
          name="WSHttpBinding_IReshService" />-->
      <endpoint address="net.tcp://ws-web.test.nhn.no:9876/v1/RESH"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReshService"
          contract="ReshService.IReshService" name="NetTcpBinding_IReshService">
        <identity>
          <dns value="ws-web.test.nhn.no" />
        </identity>
      </endpoint>
      <!--<endpoint address="https://ws-web.test.nhn.no/v1/RESH/Basic"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReshService"
          contract="ReshService.IReshService" name="BasicHttpBinding_IReshService" />-->
    </client>
  </system.serviceModel>
</configuration>
