@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="resh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <h1>Søk i RESH-registeret</h1>
                <br />

                <div class="row">
                    <div class="col-lg-4"><label>Skriv inn en RESH-id her: </label></div>
                    <div class="col-lg-4"><input type="text" id="reshId" class="btn btn-default" /></div>
                    <div class="col-lg-4"><input type="button" value="Søk Resh" onclick="returnResh();" class="btn btn-primary" /></div>
                </div>


                <div class="resh-info">

                </div>
            </div>
        </div>
    </div>
</section>

